In [1]:
import sys, os

In [2]:
def get_root_path(n):
    '''
    Esta función nos permite iterar sobre carpetas para añadir el path de nuestra carpeta raíz
    Argumentos:
        - n (int): el número de veces que iteraremos para llegar a la carpeta deseada
    '''
    path = os.getcwd() # para notebook ||| __file__ --> para .py
    for i in range(n):
        path = os.path.dirname(path)
        print('---------------')
        print(path)
        print('---------------')
    sys.path.append(path)

get_root_path(n=2)
print()
sys.path

---------------
/Users/valdecantos/Documents/The_Bridge/Alumno_Folder/Alumno_Curso/datascience_thebridge_9_21/Proyecto ML/SRC
---------------
---------------
/Users/valdecantos/Documents/The_Bridge/Alumno_Folder/Alumno_Curso/datascience_thebridge_9_21/Proyecto ML
---------------

['/Users/valdecantos/Documents/The_Bridge/Alumno_Folder/Alumno_Curso/datascience_thebridge_9_21/Proyecto ML/SRC/Notebooks',
 '/Users/valdecantos/.vscode/extensions/ms-toolsai.jupyter-2021.10.1101450599/pythonFiles',
 '/Users/valdecantos/.vscode/extensions/ms-toolsai.jupyter-2021.10.1101450599/pythonFiles/lib/python',
 '/Library/Frameworks/Python.framework/Versions/3.7/lib/python37.zip',
 '/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7',
 '/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/lib-dynload',
 '',
 '/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages',
 '/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/extensions',
 '/Users/valdecantos/.ipython',
 '/Users/valdecantos/Documents/The_Bridge/Alumno_Folder/Alumno_Curso/datascience_thebridge_9_21/Proyecto ML']

In [3]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import preprocessing
import seaborn as sns
import matplotlib.pyplot as plt
from SRC.Utils.preprocesado1 import preprocesado as prep1

In [4]:
trenes = pd.read_csv("/Users/valdecantos/Documents/The_Bridge/Alumno_Folder/Alumno_Curso/datascience_thebridge_9_21/Proyecto ML/SRC/Data/RAW/viajes-en-tren-sample.csv")

In [6]:
DF_modificado = prep1(trenes);
DF_modificado.info()

/Users/valdecantos/Documents/The_Bridge/Alumno_Folder/Alumno_Curso/datascience_thebridge_9_21/Proyecto ML/SRC/Utils/preprocesado1.py:39: FutureWarning: The default value of regex will change from True to False in a future version.
  df['vehicle_type'] = df['vehicle_type'].str.replace('REGIONAL.','REG.EXP')
/Users/valdecantos/Documents/The_Bridge/Alumno_Folder/Alumno_Curso/datascience_thebridge_9_21/Proyecto ML/SRC/Utils/preprocesado1.py:41: FutureWarning: The default value of regex will change from True to False in a future version.
  df['vehicle_type'] = df['vehicle_type'].str.replace('REG.EXP.','REG.EXP')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 12 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   duration          1000000 non-null  float64
 1   price             1000000 non-null  float64
 2   seats             1000000 non-null  int64
 3   origin_le         1000000 non-null  int64
 4   destination_le    1000000 non-null  int64
 5   vehicle_type_le   1000000 non-null  int64
 6   vehicle_class_le  1000000 non-null  int64
 7   fare_le           1000000 non-null  int64
 8   Month             1000000 non-null  int64
 9   Day               1000000 non-null  int64
 10  Day of the week   1000000 non-null  int64
 11  Hour              1000000 non-null  int64
dtypes: float64(2), int64(10)
memory usage: 91.6 MB

In [7]:
DF_modificado.head()

,duration,price,seats,origin_le,destination_le,vehicle_type_le,vehicle_class_le,fare_le,Month,Day,Day of the week,Hour
0,2.75,64.25,325,3,0,2,0,2,1,26,1,16
1,1.78,33.50,289,0,8,2,0,2,2,12,4,8
2,3.32,41.85,181,3,2,2,2,2,1,21,3,13
3,6.58,28.35,188,3,6,7,0,0,2,21,6,6
4,6.25,43.50,207,3,0,2,2,2,10,27,1,7

In [8]:
X = DF_modificado[['duration','seats','origin_le','destination_le','vehicle_type_le','vehicle_class_le','fare_le','Month','Day','Day of the week','Hour']]
y = DF_modificado["price"]

In [12]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [13]:
model_poly = PolynomialFeatures(degree = 4)

X_train, X_test, y_train, y_test = train_test_split(X, y , test_size = 0.2)
model_poly.fit(X_train)
X_poly = model_poly.transform(X_train)

In [ ]:
pol_reg = LinearRegression()
pol_reg.fit(X_poly, y_train)

In [ ]:
X_poly_test = model_poly.transform(X_test)
y_pred_test = pol_reg.predict(X_poly_test)
print('The model performance for test set')
print('--------------------------------------')
print('MAE test', mean_absolute_error(y_test, y_pred_test))
print('MSE test', mean_squared_error(y_test, y_pred_test))
print('RMSE test', np.sqrt(mean_squared_error(y_test, y_pred_test)))
print('R2 score', r2_score(y_test, y_pred_test))

In [ ]:
'''The model performance for test set degree 3
----------------------------------------------
MAE test 5.264318536408923
MSE test 61.22041617527156
RMSE test 7.8243476517388695
R2 score 0.8394729146813227

The model performance for test set degree 2
-------------------------------------------
MAE test 7.650586445631923
MSE test 108.8959564220354
RMSE test 10.435322535601637
R2 score 0.7157169313177172'''

In [29]:
import pickle

filename = 'trenes_Poly_model_1_de_2'

with open(filename, 'wb') as archivo_salida:
    pickle.dump(model_poly, archivo_salida)

In [ ]:
filename = 'ftrenes_Poly_model_2_de_2'

with open(filename, 'wb') as archivo_salida:
    pickle.dump(pol_reg, archivo_salida)

In [14]:
import pickle
path = "/Users/valdecantos/Documents/The_Bridge/Alumno_Folder/Alumno_Curso/datascience_thebridge_9_21/Proyecto ML/SRC/Modelos/Resto_modelos/trenes_Poly_model"
with open(path, 'rb') as archivo_entrada:
    pol_reg = pickle.load(archivo_entrada)