In [10]:
import sys, os

In [11]:
def get_root_path(n):
    '''
    Esta función nos permite iterar sobre carpetas para añadir el path de nuestra carpeta raíz
    Argumentos:
        - n (int): el número de veces que iteraremos para llegar a la carpeta deseada
    '''
    path = os.getcwd() # para notebook ||| __file__ --> para .py
    for i in range(n):
        path = os.path.dirname(path)
        print('---------------')
        print(path)
        print('---------------')
    sys.path.append(path)

get_root_path(n=2)
print()
sys.path

---------------
/Users/valdecantos/Documents/The_Bridge/Alumno_Folder/Alumno_Curso/datascience_thebridge_9_21/Proyecto ML/SRC
---------------
---------------
/Users/valdecantos/Documents/The_Bridge/Alumno_Folder/Alumno_Curso/datascience_thebridge_9_21/Proyecto ML
---------------

['/Users/valdecantos/Documents/The_Bridge/Alumno_Folder/Alumno_Curso/datascience_thebridge_9_21/Proyecto ML/SRC/Notebooks',
 '/Users/valdecantos/.vscode/extensions/ms-toolsai.jupyter-2021.10.1101450599/pythonFiles',
 '/Users/valdecantos/.vscode/extensions/ms-toolsai.jupyter-2021.10.1101450599/pythonFiles/lib/python',
 '/Library/Frameworks/Python.framework/Versions/3.7/lib/python37.zip',
 '/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7',
 '/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/lib-dynload',
 '',
 '/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages',
 '/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/extensions',
 '/Users/valdecantos/.ipython',
 '/Users/valdecantos/Documents/The_Bridge/Alumno_Folder/Alumno_Curso/datascience_thebridge_9_21/Proyecto ML/SRC',
 '/Users/valdecantos/Documents/The_Bridge/Alumno_Folder/Alumno_Curso/datascience_thebridge_9_21/Proyecto ML',
 '/Users/valdecantos/Documents/The_Bridge/Alumno_Folder/Alumno_Curso/datascience_thebridge_9_21/Proyecto ML']

In [12]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import preprocessing
import seaborn as sns
import matplotlib.pyplot as plt
from SRC.Utils.preprocesado1 import preprocesado as prep1

In [13]:
trenes = pd.read_csv("/Users/valdecantos/Documents/The_Bridge/Alumno_Folder/Alumno_Curso/datascience_thebridge_9_21/Proyecto ML/SRC/Data/RAW/viajes-en-tren-sample.csv")
trenes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 13 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   company        1000000 non-null  object
 1   origin         1000000 non-null  object
 2   destination    1000000 non-null  object
 3   departure      1000000 non-null  object
 4   arrival        1000000 non-null  object
 5   duration       1000000 non-null  float64
 6   vehicle_type   1000000 non-null  object
 7   vehicle_class  1000000 non-null  object
 8   price          1000000 non-null  float64
 9   fare           1000000 non-null  object
 10  seats          1000000 non-null  int64
 11  meta           1000000 non-null  object
 12  insert_date    1000000 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 99.2+ MB

In [14]:
DF_modificado = prep1(trenes);
DF_modificado.info()

/Users/valdecantos/Documents/The_Bridge/Alumno_Folder/Alumno_Curso/datascience_thebridge_9_21/Proyecto ML/SRC/Utils/preprocesado1.py:39: FutureWarning: The default value of regex will change from True to False in a future version.
  df['vehicle_type'] = df['vehicle_type'].str.replace('REGIONAL.','REG.EXP')
/Users/valdecantos/Documents/The_Bridge/Alumno_Folder/Alumno_Curso/datascience_thebridge_9_21/Proyecto ML/SRC/Utils/preprocesado1.py:41: FutureWarning: The default value of regex will change from True to False in a future version.
  df['vehicle_type'] = df['vehicle_type'].str.replace('REG.EXP.','REG.EXP')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 12 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   duration          1000000 non-null  float64
 1   price             1000000 non-null  float64
 2   seats             1000000 non-null  int64
 3   origin_le         1000000 non-null  int64
 4   destination_le    1000000 non-null  int64
 5   vehicle_type_le   1000000 non-null  int64
 6   vehicle_class_le  1000000 non-null  int64
 7   fare_le           1000000 non-null  int64
 8   Month             1000000 non-null  int64
 9   Day               1000000 non-null  int64
 10  Day of the week   1000000 non-null  int64
 11  Hour              1000000 non-null  int64
dtypes: float64(2), int64(10)
memory usage: 91.6 MB

In [15]:
DF_modificado

,duration,price,seats,origin_le,destination_le,vehicle_type_le,vehicle_class_le,fare_le,Month,Day,Day of the week,Hour
0,2.75,64.25,325,3,0,2,0,2,1,26,1,16
1,1.78,33.50,289,0,8,2,0,2,2,12,4,8
2,3.32,41.85,181,3,2,2,2,2,1,21,3,13
3,6.58,28.35,188,3,6,7,0,0,2,21,6,6
4,6.25,43.50,207,3,0,2,2,2,10,27,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...
999995,1.80,37.40,250,1,3,2,0,2,11,5,3,11
999996,2.67,28.50,217,0,6,3,0,2,11,18,2,10
999997,3.00,108.90,250,3,0,2,0,1,11,9,0,12
999998,2.68,68.20,255,3,4,2,0,2,10,31,5,9
999999,2.03,55.90,142,3,1,4,0,1,3,1,0,15

In [16]:
X = DF_modificado[['duration','seats','origin_le','destination_le','vehicle_type_le','vehicle_class_le','fare_le','Month','Day','Day of the week','Hour']]
y = DF_modificado["price"]

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size = 0.2)

In [18]:
from sklearn.tree import DecisionTreeRegressor, plot_tree

dtr = DecisionTreeRegressor()
dtr.fit(X_train, y_train)

DecisionTreeRegressor()

In [25]:
dtr.predict(X_test)

array([27.25, 27.25, 27.  , ..., 23.95, 32.85, 32.85])

In [26]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

print("MSE", mean_squared_error(y_test, dtr.predict(X_test)))
print("RMSE", np.sqrt(mean_squared_error(y_test, dtr.predict(X_test))))
print("MAE", mean_absolute_error(y_test, dtr.predict(X_test)))
print('R2 score', r2_score(y_test, dtr.predict(X_test)))

MSE 8.413360013740725
RMSE 2.90057925486285
MAE 0.7023176024032126
R2 score 0.9779545112409712

In [27]:
predictions = dtr.predict(X_train)

errors = abs(predictions - y_train)

print("MAE:", np.mean(errors))

MAE: 0.19628258488058287

In [28]:
print("MSE", mean_squared_error(y_train, dtr.predict(X_train)))
print("RMSE", np.sqrt(mean_squared_error(y_train, dtr.predict(X_train))))
print("MAE", mean_absolute_error(y_train, dtr.predict(X_train)))
print('R2 score', r2_score(y_train, dtr.predict(X_train)))

MSE 1.5528439004067085
RMSE 1.2461315742756496
MAE 0.19628258488058287
R2 score 0.9959408231258672

In [19]:
import pickle

filename = 'trenes_Tree_model'

with open(filename, 'wb') as archivo_salida:
    pickle.dump(dtr, archivo_salida)